{
  "semi": false,
  "singleQuote": true,
  "overrides": [
    {
      "files": "snippets/snippets/**/*.ts",
      "options": {
        "printWidth": 48
      }
    },
    {
      "files": [
        "snippets/snippets/**/umjt.ts",
        "snippets/snippets/**/rvyq.ts",
        "snippets/snippets/**/awzp.ts"
      ],
      "options": {
        "printWidth": 54
      }
    }
  ]
}
